@model IEnumerable<Formulario.Models.Departamento>

@{
    ViewData["Title"] = "Departamentos";
}

<h2>Departamentos</h2>

<p>
    <a asp-action="Create"><button class="btn btn-primary">Nuevo</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartamentoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepartamentoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartamentoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
